
# https://releases.llvm.org/12.0.0/tools/clang/docs/ClangFormatStyleOptions.html

BasedOnStyle: Google
Language: Java

AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: false
AlignOperands: AlignAfterOperator
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBraces: Allman
BinPackParameters: false
IndentWidth: 4
ColumnLimit: 100
